<%= form_for @video, html: { multipart: true } do |f| %>
  <% if @video.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@video.errors.count, "error") %> prohibited this video from being saved:</h2>

      <ul>
      <% @video.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label "Video Thumbnail" %><br>
    <%= f.file_field :image %>
  </div>

  <div class="form-group">
    <%= f.label "Video Type - '1' for Streamline | '2' for Essentials | '3' for God Flow | '4' for Writer's Block | '5' for exclusive group" %><br>
    <%= f.text_field :category_id %>
  </div>

  <div class="form-group">
    <%= f.label "Vimeo Link" %><br>
    <%= f.text_field :embed_code %>
  </div>

  <div class="form-group">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
